@import 'tailwindcss';

body {
  /* background-color: #1d2433; */
  background-color: #f4efca;
  color: #29292b;
  /* color: #29292b99; */
  font-family: sans-serif;
}

.accent-color {
  color: #f66435;
}

.accent-hover:hover {
  color: #f66435;
}
